# Dependencies
node_modules/

# Build output
dist/
out/

# Electron builder output
dist-electron/
release/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env files
.env
.env.local

# TypeScript cache
*.tsbuildinfo

.nvmrc
.python-version